@charset "utf-8";

/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *        2、设置通用原子类
 */

a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0
	
}

body, button, input, select, textarea {
    font: 14px/1.5 '微软雅黑',YaHei,tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}
/* 去掉 table cell 的边距并让其边重合 */
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* ie bug：th 不继承 text-align */
th {
    text-align:inherit;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
}

/*address, cite, dfn, em, var {
    font-style: normal;
}*/

ul, ol, dl {
    list-style: none;
}
q:before,q:after {
    content:'';
}
a {
    text-decoration: none;
    outline: none;
    font-family: "Microsoft YaHei", ΢微软雅黑;
    color: #333;
    cursor: pointer;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration: none;
    
}

/* 去除 ie6 & ie7 焦点点状线 */
a:focus,*:focus {
    outline:none;
}
/* 去除默认边框 */
fieldset,img {
    border:none;
}

i, small {
    font-family: "Microsoft YaHei", ΢微软雅黑;
    font-style: normal !important;
}

button, input, select, textarea {
    font-size: 100%;
    resize: none;
    outline: none;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* 清除浮动 */
.clearfix {
    *zoom: 1;
}
.clearfix::after,
.clearfix::before{
    content: " ";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    display: table;
    clear:both;
}
/* 设置浮动，减少浮动带来的 bug */
.fl,.fr {
    display:inline;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
/*版心*/
.w {
    width: 1200px;
    margin: 0 auto;
}





/*loading*/
.weui-toast {
    position: fixed;
    z-index: 5000;
    width: 7.6em;
    height: 7.6em;
    top: 50%;
    left: 50%;
    margin-left: -3.8em;
    margin-top: -3.8em;
    background: rgba(17,17,17,0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    -webkit-box-orient: vertical;
    padding: 15px 0;
    box-sizing: border-box;
}




@-webkit-keyframes weuiLoading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes weuiLoading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.weui-icon_toast.weui-loading {
    margin:0 auto;
    width: 38px;
    height: 38px;
    vertical-align: baseline;
}


.weui-toast__content{
	color: #FFFFFF;	
}
