/* 
  首页-头部指引----start
*/
.header{height:30px; line-height:30px; overflow:hidden;background-color:#f6f6f6;padding:2px 0;}
.header-guide{ float:right;}
.header-guide a{color:#999999;font-size:12px;}
.header-guide span{ font-weight:200; padding:0 20px; font-size:12px; color:#ddd}
.header-guide .span-style {padding: 0 4px;;color: #2F74F6}
.header-guide .headerUsername{margin: 0;padding: 0;color: #00b2ff;font-size: 16px;}
.header-guide a.headerMsg{padding:0;text-align:center;color:#fff;font-size:14px;background-color:#ffa200;margin: 0;	border-radius:50%;-webkit-border-radius: 50%;-moz-border-radius:50%;display:inline-block;	width:20px;	height:20px;
	line-height:20px;margin-left:10px;}
.header-guide .headerMsg:hover{color:#fff;}
.header-guide .entrance {color: #2F74F6}
.tel{float:left;font-size:12px; color:#333333;}
.tel span{ color:#999999;}
.tel img {width: 14px;height: 14px;}
.tel .t_pic{ margin-right:6px;}
.tel .dl{ margin-left:8px; margin-right:15px;}
.tel a{ display:inline-block; text-align:center; padding-top:3px;width:35px; height:26px; line-height:22px; color:#fff; font-size:14px;}
/* ----end--------*/
/*
  首页-nav----start
*/
.lnav{min-height:75px;position: relative}
.lnav .logo{ float:left; padding:10px 0;}
.lnav .logo img{ height:52px;}
.lnav .nav_list {padding: 13px 6px 0;}
.navlist{letter-spacing:2px; margin:0 auto;}
.navlist li{width:100px;float:left;text-align:center;}
.navlist li:first-child,#navlist li:first-child a{padding-right: 12px;text-align: right;}
.navlist ul.subnav li:first-child,#navlist ul.subnav li:first-child a{ text-align:center;padding-right:0px;}
.navlist a{display:block; font-size:16px; transition:none; border:1px solid #fff;width:110px; height:48px; line-height:48px;border-bottom:none;color: #333333}
.navlist a:hover,.current>a{ color:#27ABFE; text-decoration:none;}
.homepage {padding-right: 20px;}
.homepage a {color: #27ABFE;text-align: center}
.subnav{width:110px; clear:both; text-align:center;position:absolute; display:none; *margin-left:-55px; background-color:#fff; z-index:99999999;}
.subnav li{float:none;width:110px;height:48px; line-height:48px;}
.navlist a.border{border:1px solid #EDECF1; border-bottom:none; color:#27ABFE;}
.navlist li:hover .subnav{border:1px solid #EDECF1; border-top:none;}
.navlist li .subnav li{ border:none; padding:0 4px;}
.navlist li .subnav li:last-of-type a,#navlist li:hover .subnav li:last-of-type a:hover{ border:none;}
.navlist .subnav a{ border:none;border-bottom:1px solid #ddd; width:102px;}
.nav-right-login{ position:absolute;right: 0;top: 18px;text-align: right}
.nav-right-login a{ display:block;font-size:16px; background:#fff; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;width:130px; height:37px; line-height:37px; color:#333;}
.nav-right-login img{ vertical-align:middle;padding-left:10px;padding-right:8px;margin-top:-3px;}
/* ----end--------*/

/* 首页content----start */
.subject_content {background-color: #EDF2FC;}
.content_deposittube {background-color: #fff;width: 100%;height: auto;transition: all 0.2s linear 0s;}
.deposittube-top {padding: 30px 0 15px 0;border-bottom: 1px solid #F5F5F5}
.deposittube-top .text p {margin: 0;}
.deposittube-top .text p {font-size: 12px;color: #B2B2B2}
.deposittube-top .text .fot {font-size: 16px;color: #333333;font-weight: 600}
.deposittube-top div {display: inline-block;height: auto;}
.deposittube-top img {width: 70px;height: 70px;margin-top: -23px;}
.deposittube-top .security1 {padding: 0 50px;}
.deposittube-bott {width: 100%;height: auto;padding: 20px 0;}
.deposittube-bott span {padding: 0 50px;color: #333333}
.deposittube-bott i {color: #E4E4E4}
.deposittube-bott .pd-6 {padding-left: 86px;}
.deposittube-bott .pd-8 {padding-left: 80px;}
.content_notice {padding: 20px 0;}
.content_notice span {padding: 0 20px;font-size: 12px;}
.content_notice span a {font-size: 12px;color: #4A4C5D;}
.content_notice span a:hover {text-decoration: none;}
.content_notice .cole {padding-left: 200px;}
.content_notice .cole a {color: #B2B2B2;}
.content_notice span a i {color: #B2B2B2;padding-left: 20px;}
.content_notice span a e {color: #B2B2B2;padding-left: 5px;}
/* ----end-------*/
/* 首页新手专区----start */
.content_novice {width: 100%;height: auto;}
.content_novice .lef {background: url(../img/content_novice.jpg);background-repeat: no-repeat;background-size: 100% 100%;
  width: 285px;height: 275px;padding: 40px;float: left;}
.content_novice .lef .lef-text1 {font-size: 32px;color: #fff;font-weight: 600;margin: 0;}
.content_novice .lef .lef-text2 {color: #fff;font-weight: 600;}
.content_novice .lef .lef-text3 {font-size: 16px; color: #fff;padding-top: 30px;}
.cente {width: 614px;height: auto;float: left;padding: 40px 30px 31px 60px;background-color: #fff;}
.cente .cente_t span {font-size: 12px;color: #ED693C;}
.cente .cente_t .title {padding-bottom: 15px; }
.cente .cente_t .new {font-size: 24px;color: #333333;font-weight: 600;}
.cente .cente_t .tips {border: 1px solid #ED693C;padding-left: 5px;margin-left: 226px;}
.cente .cente_t .tips i {color: #fff;background-color: #ED693C;padding: 0 5px;margin-left: 5px;}
.cente .cente_t div {float: left;}
.cente .cente_t .data {font-size: 12px;color: #999999}
.cente .cente_t .data_style {padding: 32px 0 0 60px;}
.cente .cente_t .data_font {padding: 31px 0 0 100px;}
.cente .cente_t .data span{font-size: 24px;color: #999999}
.cente .cente_t .data .new {color: #ED6A3C;}
.cente .cente_t .data .new_ash {font-size: 12px;color: #333333;font-weight: 600;}
.cente .cente_t .data .new i {font-size: 48px;font-weight: 400}
.cente .cente_t .data .new_ash e {font-size: 24px;font-weight: 400}
.cente .but {width: 210px;height: 40px;border: 1px solid #2A6EED;color: #2A6EED;line-height: 40px;text-align: center;font-size: 16px;margin: 0 auto;margin-top: 20px;}
.content_novice .righ {float: left;margin-left: 14px;}
.content_novice .righ .righ_top{width: 285px;height: 127px;background: url(../img/righ_top1.jpg);background-repeat: no-repeat;background-size: 100% 100%;padding: 30px 20px;}
.content_novice .righ .righ_top span {font-size: 16px;display: block;color: #333333;font-weight: 600}
.content_novice .righ .righ_top .righ_top_style {font-size: 14px;color: #0F247A;padding-top: 10px;}
.content_novice .righ .righ_cen{width: 285px;height: 127px;background: url(../img/righ_cen.jpg);background-repeat: no-repeat;background-size: 100% 100%;margin-top: 20px;padding: 20px;}
.content_novice .righ .righ_cen div {float: left;}
.content_novice .righ .righ_cen .righ_cen_qrcode {width: 71px;height: 71px;}
.content_novice .righ .righ_cen .righ_cen_download {width: 150px;padding-left: 30px}
.content_novice .righ .righ_cen .righ_cen_download span {display: block}
.content_novice .righ .righ_cen .righ_cen_download .download {font-size: 22px;}
.content_novice .righ .righ_cen .righ_cen_download .download_li {font-weight: 600}
.content_novice .righ .righ_cen .righ_cen_download .download_text {font-size: 12px;color: #666666;padding-top: 10px;}
/* ----end-------*/

/* 首页优选智投----start */
.content_wisdom .wisdom_title span {font-size: 12px;color: #999999;padding-left: 10px;}
.content_wisdom .wisdom_title h3 {display: inline-block;font-size: 24px;font-weight: 600;margin: 30px 0 20px 0;}
.content_wisdom .wisdom_title .rig {float: right;padding-top: 30px;}
.content_wisdom .wisdom_title .rig i {padding-left: 5px;}
.wisdom_datalist .datalis1 {display: inline-block;margin-right: 15px;} 
.wisdom_datalist .datalis1 {width: 285px;height: 342px;background-color: #fff;text-align: center;padding: 20px 35px;}
.wisdom_datalist .profit {padding-bottom: 30px;}
.wisdom_datalist .datalis1 h3 {margin: 10px 0 30px 0;font-size: 18px;color: #333333;font-weight: 600;}
.wisdom_datalist .datalis1 p {color: #ED6A3C;margin: 0}
.wisdom_datalist .datalis1 .colo {color: #999999;}
.wisdom_datalist .datalis1 p i {font-size: 44px;font-weight: 500}
.datalis1 .term{}
.datalis1 .term .lef{float: left;}
.datalis1 .term .rig{float: right}
.datalis1 .xian{border: 1.5px solid #62D0FA;margin-top: 20px;}
.datalis1 .but {background-color: #2A6EED;margin-top: 20px;width: 210px;height: 40px;line-height: 40px;text-align: center;color: #fff}


/* ----end------*/  

/*
  首页-footer----start
*/
.footer {background-color: #414252;padding-bottom: 20px;height: auto;padding-top: 30px;}
.foo1 {float: left;overflow: hidden;width: 420px;}
.foo1 dl {float: left; width:120px;text-align:center;}
.foo1 dl a {color: #fff;font-size:16px;}
.foo1 dl a:hover, #scrollDiv li a:hover, .firend h2 a:hover, .topnewslist ul li:hover a, .xin a:hover {color: #38b6fe;}
.foo1 dl dt a {display: block;font-size: 16px;color:#fff;}
.foo1 dl dd,.foo3 dl dd{margin-top:10px;}
.foo1 dl dd a{font-size: 14px;color:#999;}
.foo3 {float: left;text-align: center;width: 500px; font-size:16px;color: #999;}
.foo3 dl{float:left;font-size: 14px;margin-left:40px;}
.foo3 img{width:88px;}
.foo3 dt{display:block;}
.foo2{width: 240px;margin-left: 25px;}
.float-l {float: left;text-align: right;}
.float-l h6 {font-size: 30px;color: #d2d3de}
.float-l p {font-size: 12px;color: #d2d3de;padding: 5px 0;}
.float-l .styles {font-size: 12px;color: #99999c}
.float-l p a {font-size: 12px;color: #63657f}
.f_tel {color: #ff7f00;font-size: 48px;margin-top: -12px;}
.firend,.firend-jiekuan{background-color: #3C3C3C;overflow: hidden;text-align: center;clear:both;}
.firend, .firend a,.firend-jiekuan{color: #fff;}
.firend{padding-top:10px;}
.firend-jiekuan .banquan{ font-size:18px;}
.firend-jiekuan strong{ font-weight:500; padding:0 74px;}
.jie-nav a.tuichu{ color:#878787;}
.firend h2 {font-size: 14px;font-weight: 500;}
.firend h2 a, .firend h2 span {color: #dedede;font-size: 14px;padding-left: 24px;line-height: 36px;}
.banquan, .banquan a {font-family: Arial,Helvetica,sans-serif;font-size: 14px;margin: 20px 0;color: #999;background-color:#2A2929;}
.banquan a {padding-right: 30px;}
.ff_img img { margin-bottom: 15px; padding-right: 15px;}
.ff_img a img {padding-right: 15px;}
.information_relation {width: 100%;height: auto;;border-top: 1px solid #4c4d5f;border-bottom: 1px solid #4c4d5f;margin-top: 30px;padding: 15px 0;}
.information_relation span {font-size: 12px;padding: 0 10px;color: #8c8c90}
.information_relation span a {color: #8c8c90}
.information_relation .flo {float: right}
.qualifications {padding: 30px 0;}
.qualifications span {float: left;}
.qualifications dl {float: right;font-size: 10px;color: #8c8c90;text-align: right}
.qualifications dt {display: block}
.qualifications dd a {color: #8c8c90;}
.qualifications span {padding: 0 5px;}
/* 首页-footer----end */
/* banner----start */
